
// GRID COLUMNS AREN'T SET TO 100% FOR LARGE SCREEN
.grid-container {
	grid-template-columns: auto;
}

// CARDS CHANGE FROM STACKED TO GRID FOR LARGE SCREEN
.card01 {
	grid-column: 2;
	grid-row: 1;
}

.card02 {
	grid-column: 1;
	grid-row: 1;
}

.card03 {
	grid-column: 3;
	grid-row: 1/3;
}

.card04 {
	grid-column: 1/3;
	grid-row: 2/5;
}

.card05 {
	grid-column: 3;
	grid-row: 3;
}


// CARD HEIGHTS CHANGE FROM SMALL SCREEN
.tire-sale {
    height: 12rem;
}

.tdf-sale {
    height: 12rem;
}

.group-ride {
    height: 24rem;
}

.tahoe {
    height: 24rem;
}

.tahoe-text {
    height: 70%;
}

.tool-wall {
    height: 14.3rem;
}


// HEIGHT AND FLEX DIRECTION CHANGES WITH SCREEN SIZE
footer {
    height: 15rem;
}
.footer-container {
	justify-content: space-between;
	flex-direction: row;
}
