/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

// html {
//     font-size: 62.5%;
// }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 62.5%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	font-family: 'Open Sans', sans-serif;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/*----------- MATERIAL ICON SETUP - FROM GOOGLE ------------*/

/*Google material icons setup*/
@font-face {
	font-family: 'Material Icons';
	font-style: normal;
	font-weight: 400;
	src: url(https://example.com/MaterialIcons-Regular.eot); /* For IE6-8 */
	src: local('Material Icons'),
	  local('MaterialIcons-Regular'),
	  url(https://example.com/MaterialIcons-Regular.woff2) format('woff2'),
	  url(https://example.com/MaterialIcons-Regular.woff) format('woff'),
	  url(https://example.com/MaterialIcons-Regular.ttf) format('truetype');
  }
  .material-icons {
	font-family: 'Material Icons';
	font-weight: normal;
	font-style: normal;
	font-size: 24px;  /* Preferred icon size */
	display: inline-block;
	line-height: 1;
	text-transform: none;
	letter-spacing: normal;
	word-wrap: normal;
	white-space: nowrap;
	direction: ltr;
  
	/* Support for all WebKit browsers. */
	-webkit-font-smoothing: antialiased;
	/* Support for Safari and Chrome. */
	text-rendering: optimizeLegibility;
  
	/* Support for Firefox. */
	-moz-osx-font-smoothing: grayscale;
  
	/* Support for IE. */
	font-feature-settings: 'liga';
  }

/* Start your code here: */


.container {
    width: 92%;
    margin: 0 auto;
}

/*----------- TOP NAVIGATION ------------*/
.topNav {
	text-align: center;
	padding: .65rem;
	background-color: #171E23;
	color: rgb(227, 227, 227);
	text-transform: uppercase;
    font-size: .65rem;
}

/* Sets up border on righthand side of each element excluding the last element */
.topNav span:not(:last-child) {
	border-right: 1px solid rgb(216, 198, 198);
	padding-right: 1rem;
	margin-right: 1rem;
}

.topNav span:hover {
	color: rgb(198, 8, 8);
	cursor: pointer;
}

/*----------- LOGO CONTAINER ------------*/
.logo-container {
    height: 7rem;
    background-color: #1C2A35;
    color: white;
    border: solid blue;
    display: flex;
    // justify-content: space-between;
    align-items: center;
}

.shop-logo {
    background-image: url("../assets/images/logo.png");
    border: solid red;
    width: 17rem;
    height: 100%;
    background-position: center;
	background-repeat: no-repeat;
    background-size: contain;
}

.header-icons {
    border: solid yellow;
    width: 7rem;
    display: flex;
    justify-content: space-between;
}

.header-icons i:hover {
	color: rgb(198, 8, 8);
	cursor: pointer;
}

/*----------- MAIN NAVIGATION BAR ------------*/
nav {
	text-align:center;
	background-color: rgb(239, 239, 239);
	color: #292929;
}
nav li{
	display:inline;
	display:inline-block;
    padding:1rem;
}

nav li:hover {
	cursor: pointer;
	color: rgb(198, 8, 8);
}

/*----------- MAIN HERO IMAGE ------------*/
.hero-image {
	background-image: url("../assets/images/cafe_hero.jpg");  
	height: 50vh;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
    margin: 5rem auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /* Place text in the middle of the image */
  .hero-text {
    display: flex;
    flex-direction: column;
    color: white;
    text-align: center;
    h1 {
        font-size: 3rem;
        font-weight: 600;
        padding-bottom: .25rem; 
    }
    h3 {
        font-size: 1.25rem;
        margin-bottom: 1rem; 
    }
  }


button {
	border: none;
	padding: 10px 25px;
	color: white;
	background-color: rgb(198, 8, 8);
	text-align: center;
	cursor: pointer;
	text-transform: uppercase;
	font-weight: 600;
  }
  
 button:hover {
	background-color: rgb(148, 13, 13);
	transition: .5s;
	color: rgb(239, 239, 239);;
  }


  /*----------- GRID LAYOUT ------------*/
  .grid-container {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto;
	grid-column-gap: 1rem;
}

.card-image {
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	margin-bottom: 1rem;
}

.card-info {
	color: rgb(198, 8, 8);
	text-align: center;
	font-weight: 600;
	font-size: 1.25rem;
	margin-bottom: 2rem;
}

.card01 {
	grid-column: 1;
	grid-row: 1;
}

.card02 {
	grid-column: 1;
	grid-row: 2;
}

.card03 {
	grid-column: 1;
	grid-row: 3;
}

/* tahoe card */
.card04 {
	grid-column: 1;
	grid-row: 4;
}

.card05 {
	grid-column: 1;
	grid-row: 5;
}


.tire-sale {
	background-image: url("../assets/images/tires.jpeg");
	height: 25vh;
}

.tdf-sale {
	background-image: url("../assets/images/peloton.jpeg");
	height: 25vh;
}

.group-ride {
	background-image: url("../assets/images/group_ride.jpg");
	height: 50vh;
}

.tahoe {
	background-image: url("../assets/images/tahoe.JPG");
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tahoe-text {
	background-color: rgba(239, 239, 239, .85);
    width: 80%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tool-wall {
	background-image: url("../assets/images/tool_wall.jpg");
	height: 25vh;
}

  /*----------- USER SIGN UP ------------*/
.formContainer {
	background-color: #1C2A35;
	height: 10vh;
}

  .sign-up {
    height: 100%;
	color: white;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    h1 {
        font-weight: 600;
        font-size: 1.25rem;
    }
    input {
        width: 150px;
        height: 20px;
        padding: .25rem;
        margin-left: 2%;
    }
    button {
        margin-left: 2%;
    }
}

  /*----------- FOOTER ------------*/
footer {
    background-color: rgb(239, 239, 239);
    font-size: .8rem;
}
.footer-container {
    padding: 1rem 0;
    display: flex;
    flex-direction: column;
    h2 {
        font-weight: 600;
        font-size: 1rem;
        padding-bottom: .5rem;
    }
    p {
        margin-bottom: .25rem;
    }
    i {
        font-size: 1.5rem;
    }
}