/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	font-family: 'Open Sans', sans-serif;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*Google material icons setup*/
@font-face {
	font-family: 'Material Icons';
	font-style: normal;
	font-weight: 400;
	src: url(https://example.com/MaterialIcons-Regular.eot); /* For IE6-8 */
	src: local('Material Icons'),
	  local('MaterialIcons-Regular'),
	  url(https://example.com/MaterialIcons-Regular.woff2) format('woff2'),
	  url(https://example.com/MaterialIcons-Regular.woff) format('woff'),
	  url(https://example.com/MaterialIcons-Regular.ttf) format('truetype');
  }
  .material-icons {
	font-family: 'Material Icons';
	font-weight: normal;
	font-style: normal;
	font-size: 24px;  /* Preferred icon size */
	display: inline-block;
	line-height: 1;
	text-transform: none;
	letter-spacing: normal;
	word-wrap: normal;
	white-space: nowrap;
	direction: ltr;
  
	/* Support for all WebKit browsers. */
	-webkit-font-smoothing: antialiased;
	/* Support for Safari and Chrome. */
	text-rendering: optimizeLegibility;
  
	/* Support for Firefox. */
	-moz-osx-font-smoothing: grayscale;
  
	/* Support for IE. */
	font-feature-settings: 'liga';
  }

/* Start your code here: */


.topNav {
	text-align: center;
	padding: .65rem;
	background-color: #171E23;
	color: rgb(227, 227, 227);
	text-transform: uppercase;
	font-size: .65rem;
}

/* Sets up border on righthand side of each element excluding the last element */
.topNav span:not(:last-child) {
	border-right: 1px solid rgb(216, 198, 198);
	padding-right: 1rem;
	margin-right: 1rem;
}

.topNav span:hover {
	color: rgb(198, 8, 8);
	cursor: pointer;
}

.logoContainer  {
	background-color: #1C2A35;
	color: white;
}

.contentContainer {
	height: 7rem;
	margin: 0 auto;
	width: 92%;
	position: relative;
}

.logo {
	width: 225px;
	height: 100%;
	float: none;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-image: url("../assets/images/logo.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	padding: .2rem;
}

.icons {
	float: right;
	padding-top: 2.75rem;
}

.icons i {
	margin: 0 .75rem;
}

.icons i:hover {
	color: rgb(198, 8, 8);
	cursor: pointer;
}


nav {
	text-align:center;
	background-color: rgb(239, 239, 239);
	color: #292929;
}
nav li{
	display:inline;
	display:inline-block;
    padding:1rem;
}

nav li:hover {
	cursor: pointer;
	color: rgb(198, 8, 8);
}


.hero-image {
	background-image: url("../assets/images/cafe_hero.jpg");  
	height: 50vh;
	width: 92%;
	/* Position and center the image to scale nicely on all screens */
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	margin: 5rem auto;
  }
  
  /* Place text in the middle of the image */
  .hero-text {
	text-align: center;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: white;
  }

  .hero-text h1 {
	  font-size: 3rem;
	  font-weight: 600;
	  padding-bottom: .25rem;
  }

  .hero-text h3 {
	font-size: 1.25rem;
	margin-bottom: 1rem;
}

button {
	border: none;
	padding: 10px 25px;
	color: white;
	background-color: rgb(198, 8, 8);
	text-align: center;
	cursor: pointer;
	text-transform: uppercase;
	font-weight: 600;
  }
  
 button:hover {
	background-color: rgb(148, 13, 13);
	transition: .5s;
	color: rgb(239, 239, 239);;
  }


.grid-container {
	width: 92%;
	margin: 0 auto;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: auto;
	grid-column-gap: 1em;
}

.card-image {
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	margin-bottom: 1rem;
}

.card-info {
	color: rgb(198, 8, 8);
	text-align: center;
	font-weight: 600;
	font-size: 1.25rem;
	margin-bottom: 2rem;
}

.card01 {
	grid-column: 1;
	grid-row: 1;
}

.card02 {
	grid-column: 2;
	grid-row: 1;
}

.card03 {
	grid-column: 3;
	grid-row: 1/3;
}

/* tahoe card */
.card04 {
	grid-column: 1/3;
	grid-row: 2/5;
}

.card05 {
	grid-column: 3;
	grid-row: 3;
}

.card06 {
	grid-column: 1;
	grid-row: 4;
}

.card07 {
	grid-column: 2;
	grid-row: 4;
}

.tire-sale {
	background-image: url("../assets/images/tires.jpeg");
	height: 25vh;
}

.tdf-sale {
	background-image: url("../assets/images/peloton.jpeg");
	height: 25vh;
}

.group-ride {
	background-image: url("../assets/images/group_ride.jpg");
	height: 50vh;
}

.tahoe {
	background-image: url("../assets/images/tahoe.JPG");
	height: 50vh;
}

.tahoe-text {
	background-color: rgba(239, 239, 239, .85);
	width: 70%;
	padding: 4rem 0;
	color: black;
}

.tool-wall {
	background-image: url("../assets/images/tool_wall.jpg");
	height: 25vh;
}

.formContainer {
	background-color: #1C2A35;
	height: 10vh;
	display: flex;
	justify-content: center;
}

.form {
	display: flex;
	color: white;
	text-transform: uppercase;
	width: 92%;
	margin: 0 auto;
	justify-content: center;
	align-items: baseline;
	padding-top: 4vh;
}

.form h1 {
	font-weight: 600;
	font-size: 1.5rem;
}

.form input {
	width: 20%;
	height: 20px;
	padding: .25rem;
	margin-left: 2%;
	position: relative;
	top: -10%;
}

.form button {
	margin-left: 2%;
	position: relative;
	top: -10%;
}

.footerContainer {
	height: 40vh;
	background-color: rgb(239, 239, 239);

}