/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	font-family: 'Open Sans', sans-serif;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*Google material icons setup*/
@font-face {
	font-family: 'Material Icons';
	font-style: normal;
	font-weight: 400;
	src: url(https://example.com/MaterialIcons-Regular.eot); /* For IE6-8 */
	src: local('Material Icons'),
	  local('MaterialIcons-Regular'),
	  url(https://example.com/MaterialIcons-Regular.woff2) format('woff2'),
	  url(https://example.com/MaterialIcons-Regular.woff) format('woff'),
	  url(https://example.com/MaterialIcons-Regular.ttf) format('truetype');
  }
  .material-icons {
	font-family: 'Material Icons';
	font-weight: normal;
	font-style: normal;
	font-size: 24px;  /* Preferred icon size */
	display: inline-block;
	line-height: 1;
	text-transform: none;
	letter-spacing: normal;
	word-wrap: normal;
	white-space: nowrap;
	direction: ltr;
  
	/* Support for all WebKit browsers. */
	-webkit-font-smoothing: antialiased;
	/* Support for Safari and Chrome. */
	text-rendering: optimizeLegibility;
  
	/* Support for Firefox. */
	-moz-osx-font-smoothing: grayscale;
  
	/* Support for IE. */
	font-feature-settings: 'liga';
  }

/* Start your code here: */


.topNav {
	text-align: center;
	padding: .65rem;
	background-color: #171E23;
	color: rgb(227, 227, 227);
	text-transform: uppercase;
	font-size: .65rem;
}

/* Sets up border on righthand side of each element excluding the last element */
.topNav span:not(:last-child) {
	border-right: 1px solid rgb(216, 198, 198);
	padding-right: 1rem;
	margin-right: 1rem;
}

.topNav span:hover {
	color: #64B2F2;
	cursor: pointer;
}

.logoContainer  {
	background-color: #1C2A35;
	color: rgb(223, 223, 223);
}

.contentContainer {
	height: 7rem;
	/* border: solid orange; */
	margin: 0 auto;
	width: 92%;
}

.logo {
	width: 300px;
	height: 100%;
	/* border: solid blue; */
	margin: 0 auto;
}

.icons {
	position: relative;
	top: -65%;
	width: 160px;
	float: right;
}

.icons i {
	margin: 0 .75rem;
}

.icons i:hover {
	color: #64B2F2;
	cursor: pointer;
}


nav {
	text-align:center;
	background-color: rgb(239, 239, 239);
	color: #292929;
}
nav li{
	display:inline;
	display:inline-block;
    padding:1rem;
}

nav li:hover {
	cursor: pointer;
	color: #64B2F2;
}


.hero-image {
	/* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
	background-image: url("../../assets/images/pexels-photo-2817452.jpeg");
  
	/* Set a specific height */
	height: 50vh;
	width: 92%;
	/* Position and center the image to scale nicely on all screens */
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	margin: 2rem auto;;
  }
  
  /* Place text in the middle of the image */
  .hero-text {
	text-align: center;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: white;
  }

  .hero-text h1 {
	  font-size: 3rem;
	  font-weight: 600;
  }

  .hero-text h3 {
	font-size: 1.25rem;
	margin-bottom: 1rem;
}

  .hero-text button {
	border: none;
	padding: 10px 25px;
	color: black;
	background-color: #ddd;
	text-align: center;
	cursor: pointer;
  }
  
  .hero-text button:hover {
	background-color: #555;
	color: white;
  }


.grid-container {
	border: solid black;
	width: 92%;
	margin: 0 auto;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr auto;
	grid-gap: .75rem;
	min-height: 20vh;
}